<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Twitter-Yaye</title>
	<!-- CSS -->
	<link rel="stylesheet" href="css/index.css"/>
	<!-- JS -->
	<script src="js/libs/jquery-1.8.1.js"></script>
	<script src="js/libs/underscore.js"></script>
	<script src="js/libs/backbone.js"></script>
	<script src="js/libs/handlebars.js"></script>
	<script src="js/modules/localStorage.js"></script>
</head>
<body>

<!-- Our App simple HTML structure -->
<section class="l-feed">
	<h1>20 Latests Twitter posts @Ciklum</h1>
	<div class="js-feed g-loader"></div>
</section>
<section class="l-favorites">
	<h1>Favorite items</h1>
	<div class="js-favorites"></div>
</section>

<!-- Templates -->
<script id="tmpl-tweet" type="text/html">
		<div class="tweet-meta-column">
			<img src="<%= user.profile_image_url %>"/>
			<div class="tweet-date"><%= date %></div>
		</div>

		<div class="tweet-content">
			<p class="tweet-text"><%= text %></p>
			<button class="btn-tweet_action js-manage-favorite <% if (!isFavorite) { %>btn-add<% } else { %>btn-remove<% } %>"></button>
		</div>
</script>

<script id="tmpl-connection-error" type="text/html">
	<h2>Connection Error</h2>
	<p>Can't connect to local server (localhost:8080).</p>
	<p>You must launch local server to run this app properly.</p>
	<p>Please execute <code>/server/run.bat</code>, or run <code>/server/node index.js</code> in cmd.</p>
	<p>NodeJs must be installed on your machine. <a href="http://nodejs.org/download/">Download Node</a></p>
</script>


<!-- Backbone entities -->
<script src="js/models/tweet.js"></script>
<script src="js/collections/feed.js"></script>
<script src="js/collections/favorites.js"></script>
<script src="js/views/tweet.js"></script>
<script src="js/views/favorites.js"></script>
<script src="js/views/feed.js"></script>

<!-- Launch App -->
<script src="js/app.js"></script>
</body>
</html>
