$feedColumnWidth: 70%;

body {
	margin: 0;
	padding:0;
}

/*
	Global styles
*/

.g-loader {
	min-height: 100px;
	background: url("../img/loader.gif") no-repeat center;
}

.l-feed, .l-favorites {
	float: left;
}


.l-feed {
	box-sizing: border-box;
	width: $feedColumnWidth;
	min-height: 200px;
	padding-right: 30px;
}

.l-favorites {
	width: 100% - $feedColumnWidth;
}

.l-feed h1, .l-favorites h1 {
	font-size: 20px;
}
